* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

body {
    background: linear-gradient(135deg, #1f1f1f, #2b2b2b);
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* HEADER */

header {
    text-align: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

header h1 {
    font-size: 28px;
    font-weight: 600;
}

header p {
    font-size: 14px;
    opacity: 0.6;
    margin-top: 5px;
}

/* VIDEO */

.video-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

video {
    width: 75%;
    max-width: 950px;
    border-radius: 20px;
    background: black;
    box-shadow: 0 20px 40px rgba(0,0,0,0.6);
    border: 2px solid rgba(255, 255, 255, 0.05);
}

/* CONTROLES */

.controls {
    height: 110px;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(12px);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

button {
    border: none;
    cursor: pointer;
    transition: 0.25s;
}

/* BOTONES NORMALES */

.control-btn {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background: #3c4043;
    color: white;
    font-size: 24px;
}

.control-btn:hover {
    transform: scale(1.1);
    background: #5f6368;
}

/* BOTÓN SALIR */

.leave-btn {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #d93025;
    color: white;
    font-size: 26px;
}

.leave-btn:hover {
    transform: scale(1.1);
    background: #ea4335;
}

/* ESTADO OFF */

.off {
    background: #d93025 !important;
}

/* RESPONSIVE */

@media (max-width: 768px) {
    video {
        width: 95%;
    }

    .controls {
        gap: 20px;
    }
}
